---
layout: sidebar
---

{% if paginator.previous_page %}
{% else %}

  <ul>
    {% for project in site.portfolio reversed %}
        {% if project.index == true %}
        {% else %}
        <li class="grid">
            {% if project.redirect %}
                {% include project-redirect.html %}
            {% else %}
                {% include project-thumbnail.html %}
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>

{% endif %}

{% if paginator.total_pages > 0 %}

  {% include post-list.html %}

{% endif %}
