<footer class="site-footer">

<nav id="mobile-nav">
 
  <ul>

    <hr>

    <li>
      <a href="#top">^ top</a>
    </li>

    <hr>
  
  {% for page in site.pages %}
    {% if page.title %}
    <li class=""><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
    <hr>
    {% endif %}
  {% endfor %}

  </ul>

</nav>

  <div class="footer-wrapper">

  <a href="/">
      <img src="/img/mountainsandthesea.png" alt="Scott Kilts logo"> 
    </a>

    <ul class="contact">
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}">hello<span id="at">[at]</span>scottkilts.com</a></li>
        {% endif %}
    </ul>

  <p class="caption">Scott Kilts &#169; 2017</p>

  </div>

</footer>