<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-wrapper">

      <ul class="links">
        <li><a href="/resume/">resume</a></li>
        <li><a href="/artwork/">artwork</a></li>
        <li><a href="/portfolio/">portfolio</a></li>
      </ul>

      <a href="/">
      <!--<span class="sr only">Scott Kilts</span>-->
        <img src="/assets/mountainsandthesea.png" alt="Scott Kilts logo" class="logo"> 
      </a>

      <ul class="contact">
          {% if site.email %}
          <li class="footer-email"><a href="mailto:{{ site.email }}">hello<span id="at">[at]</span>scottkilts.com</a></li>
          {% endif %}
      </ul>

    </div>

  </div>

</footer>