<header class="site-header">

  <div class="wrapper">
    
   <a class="page-link logo" href="{{ site.baseurl }}/">• scott • kilts •</a>
    
    <nav class="site-nav" id="top">

      <div class="trigger">
          	
            <ul>
              
              <li>
                  <a href="/resume/">(<span>resume</span>)</a>
              </li>
              <li>
	                <a href="/work/">(<span>work</span>)</a>
              </li>
              
            </ul> 
              
      <!--  <ul>
       {% for page in site.pages %}
          {% if page.title == resume %}
          {% elsif page.title %}
            <li class=""><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul> -->

      </div>
    </nav> 

  </div>

</header>
