<header class="site-header">

  <div class="wrapper">

    <!-- {{ site.title }} instead of blog -->
    <a class="page-link logo" href="{{ site.baseurl }}/">•</a>

    <!-- <nav class="site-nav" id="top">

      <button class="mobile-nav">
        <a href="#mobile-nav"><img src="/img/icon_down-to-menu.svg"></a>
      </button>

      <div class="trigger">

        <!-- <ul>
          <li class=""><a class="page-link" href="/about/">about</a></li>
          <li class=""><a class="page-link" href="/resume/">resume</a></li>
          <li class=""><a class="page-link" href="/work/">work</a></li>        -->  
        
        <!-- {% for page in site.pages %}
          {% if page.title == resume %}
          {% elsif page.title == climbing %}
          {% elsif page.title %}
          <li class=""><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %} -->

       <!-- </ul> -->
<!--
      </div>
    </nav> -->

  </div>

</header>
