
<div class="header-bar">

	<h1>
		Design •
	</h1>
	<h2 class="message">
		Live a thoughtful life
	</h2>
	<p>
		<!--<a href="/resume/">Resume</a>
         /
		<a href="/work/">Portfolio</a> -->
		<!-- / 
		<a href="/contact/">Contact</a> -->
	</p>

</div>

<!-- <div class="header-bar">
  <h1>Hello,</h1>
  <h2 class="message">my name is Scott  <a href="/resume/">(<span>resume</span>)</a><br>
  <br>
  I'm a designer, an illustrator and an advocate for user-centered design. Currently available for projects, commissions, and full-time remote work <a href="/portfolio/">(check out my <span>portfolio</span>)</a> <br>
  <br>
  I'd love to chat <a href="https://scottkilts.typeform.com/to/ahYYrD" target="_blank">(send me a <span>message</span>)</a><br>
  <br>
  have a great day!</h2>
</div> -->