/**
 * page highlight color   *************************************************
 */
body.body {
    // padding-top: .66vh;
    background: $fuchsia;
}

.content-wrapper {
    background: $white;
    //margin: 0 auto;
    //display: block;
}

/**
 * Site header   **********************************************************
 */
.site-header {
//border-bottom: 1px solid $grey-color-light;
//background-color: $white;
//position:fixed;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;
font-size: 1.25rem;
transition: all .3s ease; //***********************transition
a {
border-bottom: none;
    }
.logo {
float: left;
line-height: 2rem;//$nav-height;
font-family: 'Lora', serif;
font-size: 1.5rem;
color: $black;
opacity: 100;
border-bottom: 2px solid currentColor;
padding-top: .5rem;
&:hover {
    border-bottom: 2px solid $fuchsia;
    transition: all .2s ease; //***********************transition
        }
    }
.trigger {
a {
color: $nav-color;
&:hover {
color: $fuchsia
        }
    }
}
@include media-query($on-palm) {
font-size: 1rem;
.logo{
    font-size: 1.125rem;
        }
    }
}

.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}
.site-nav {
float: right;
line-height: $nav-height;
.trigger {
ul {
line-height: 3.33rem;
& li {
display: inline;
padding: 0 0.25rem;
        }    
    }
}
.page-link{
line-height: $base-line-height;
// Gaps between nav items, but not on the first one
&:not(:first-child) {
margin-left: 10px;
        }
    }
@include media-query($on-palm) {
//position: fixed;
top: 0px;
right: 10px;
text-align: right;
&:hover .trigger {
display: block;
padding-bottom: 5px;
        }
.trigger {
ul {
padding-top: .5rem;
& li {
display: block;
line-height: 2rem;
        }
    }
}
.page-link {
display: line;
        }
    }
}

.header-bar{
left: 0px;
top: 0px;
position: relative;
font-size: 20px;
display: block;
width: 100%;
text-align: left;
padding-top: 1.5rem;
padding-bottom: 4.20rem;
line-height: 3em;
z-index: 25;
@include media-query($on-palm) {
display: inline;
a {
display: block;
        }
    }
h1{
color: $theme-color;
font-size:75px;
line-height: 2em;
    }
h2{
font-size:2rem;
    }
a {
transition: color .3s ease;
transition: border-bottom .3s ease;
//font-style: italic;
color: $theme-color;
opacity: 100;
border-bottom: none;
padding: 0 .5em;
&:nth-child(1) {
padding-left: 0;
        }
&:hover {
color: $theme-color;
        }
span {
color: $theme-color;
//border-bottom: 2px dotted $theme-color !important;
//font-style: italic;
&:hover {
color: $text-color;
border-bottom: 2px dotted $text-color;
            }
        }
    }
.message{
padding-bottom: 2rem;
line-height: 2.33rem;
margin: 0 auto;
margin-right: 5em;
@include media-query($on-laptop){
margin-right: 3em;
        }
@include media-query($on-palm){
margin-right: .75em;
        }
@include media-query($on-small){
margin-right: 0px;
        }
& a {
font-style: inherit;
color: $text-color;
padding-right: 0;
padding: 0;
border-bottom: 2px dotted $text-color;
display: inline !important;
                }
            }
        }
    }
}

/**
 * Site footer  **********************************************************
 */
footer.site-footer {
border-top: 0;

& p {
text-align: center;
margin: 0 auto;
color: $text-color;
opacity: 0.75;
line-height: 2.5rem;
}

& a {
color: $fuchsia;
border-bottom: none;
}

& img {
display: block;
margin: 0 auto;
padding: 25px 0;
height: 150px;
}

& div.footer-wrapper {
margin: 0 auto;

& ul.links {
text-align: center;
padding-bottom: 65px;
margin: 0 auto;

& li {
display: inline;  
text-align: center;
padding-left: 15px;
padding-right: 15px;
font-family: 'Source Sans Pro', sans-serif;
font-size: 1.33rem;
font-weight: 300;
letter-spacing: .066rem;

// & .is-active { // not sure why this isn't working
//  font-weight: 400;
// }

& a:hover {
font-weight: 400;
text-decoration: none;
        }
    }
}

ul.contact {
text-align: center;
list-style-type: none;
margin-left: 0px;
& li {
font-family: 'Raleway', sans-serif;
font-size: 1.66rem;
font-weight: 400;
padding-top: 25px;
padding-bottom: 25px;
letter-spacing: .096rem;
text-align: center;
line-height: 2rem;
& a:hover {
text-decoration: none;
    }
& #at {
font-weight: 300;
font-style: italic;
display: inline-block;
                }
@include media-query($on-small) {
font-size: 1.25rem;
                }
            }
        }
    }
}

/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
//position: fixed;
bottom: 50px;
a {
border-bottom: none;
&:hover {
color: $fuchsia;
transition: all .3s ease;
        }
    }
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}
/**
 * Page content   **********************************************************
 */
.page-content {
padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
margin: 0px 0;
list-style: none;
h2 {
line-height: 1.5;
font-family: 'Lora', serif;
font-style: italic;
font-size: 2rem;
    }
a {
border-bottom: none;
    }
}
.contacticon {
font-size: 60px;
display:block;
margin: 10px;
}
.center{
text-align: center;
}

/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit;
}
.post-title {
font-family: 'Lora', serif;
font-style: italic;
font-size: 3rem;
line-height: 4rem;
padding-top: 1em;
border-bottom: none;
//color: $theme-color;
@include media-query($on-laptop) {
font-size: 36px;
    }
}
.post-content {
h1 {
line-height: 4rem;
color: $theme-color;
}
h2 {
font-size: 2rem;//42px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 30px;
font-family: 'Lora', serif;
text-align: center;
line-height: 1.45em;
margin: 0 5vw;
@include media-query($on-laptop) {
font-size: 22px;
line-height: 1.33em;
margin: 0 12vw;
        }
@include media-query($on-palm) {
margin: 0 5vw;
    }
}
h4 {
font-size: 20px;
line-height: 2rem;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
& img {
width: 100%;
    }
}
.post-meta {
font-size: $small-font-size;
color: $grey-color;
margin-bottom: 0px; 
}
.post-link {
display: block;
font-size: 42px;
}
img.work {
width: 100%;
}
a.backlink {
border-bottom: none;
margin-bottom: 1em;
display: block;
&:hover {
color: $fuchsia;
    }
}

/**
 * Resume page *************************************************************
*/
.resume-info {
& img {
width: 150px;
height: 150px;
margin: 20px;
background-image: url('/img/Scott-Kilts.jpg');
background-size: cover;
display: block;
border-radius: 75px;
-webkit-border-radius: 75px;
-moz-border-radius: 75px;
@include media-query ($on-small) {
margin: 0 auto;
        } 
    }
}

/** 
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: 33.33%;
height: 250px;
float: left;
vertical-align: middle;
box-sizing: border-box;
padding: 10px;
@include media-query ($on-palm) {
width: 50%;
    }
@include media-query ($on-small) {
width: 100%;
    }
}
.thumbnail{
width: 200px;
height: 200px;//230px
overflow: hidden;
max-width: 100%;
/* GRADIENT */
background: #dc0095;
background: -moz-linear-gradient(-45deg,  #dc0095 0%, #dc0095 50%, #1976d2 50%, #1976d2 100%);
background: -webkit-linear-gradient(-45deg,  #dc0095 0%,#dc0095 50%,#1976d2 50%,#1976d2 100%);
background: linear-gradient(135deg,  #dc0095 0%,#dc0095 50%,#1976d2 50%,#1976d2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0095', endColorstr='#1976d2',GradientType=1 );
/* /GRADIENT */
@include media-query ($on-small) {
width: 100%;
height: 100%;
/* GRADIENT * /
background: #dc0095;
background: -moz-linear-gradient(top, #dc0095 8%, #1976d2 92%);
background: -webkit-linear-gradient(top, #dc0095 8%,#1976d2 92%);
background: linear-gradient(to bottom, #dc0095 8%,#1976d2 92%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0095', endColorstr='#1976d2',GradientType=0 );
/* /GRADIENT */
    }
& img{
//width: 500px;
width: auto;
height: 280px;
display: block;
margin: 0 auto;
//position: relative;
//left: -25%;
//top: -5%;
@include media-query ($on-small) {
width: 100%;
height: auto;
        }
@include media-query ($on-palm) {
width: 100%;
height: auto;
        }
    }
& h1 {
line-height: 1.75rem;
color: $white;
}
& a {
float: left;
position: relative;
width: 100%;
height: 230px;
border-bottom: none;
@include media-query ($on-small) {
width: 100%;
height: auto;
        }
& span {
display: none;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.4);
color: $grey-color-light;
padding: 40px;
text-align: center;
        }
&:hover span {
display: block;
        }
    }
}

/* **************************************************************************
 * Sidebar
 *********** */

 div.main {
<<<<<<< HEAD
// max-width: 1000px;
// margin: 0 auto;
// position: relative;
// display: block;
// padding: 100px 0;
=======
max-width: 1000px;
margin: 0 auto;
position: relative;
display: block;
padding: 100px 0;
>>>>>>> portfolio page redesign & content updates
& div.sidebar {
position: fixed;
margin-top: 1.88em;
padding-top: 100px;
margin-left: 1em;
top: 0px;
float: left;
width: 270px;
z-index: 1;
<<<<<<< HEAD
@include media-query ($on-palm) {
display: none;
    }    
=======
>>>>>>> portfolio page redesign & content updates
  }
}

/**
 Updated portfolio page styles
 */
div.content-main {
<<<<<<< HEAD
//padding-left: 50px;
=======
padding-left: 50px;
>>>>>>> portfolio page redesign & content updates
margin-left: 280px;
padding-top: 2.75em;
margin-top: -10px;
overflow: hidden;
<<<<<<< HEAD
@include media-query ($on-palm) {
margin: 0 auto;
    } 
& ul {
@include media-query ($on-palm) {
margin-left: -.75%;
width: 105%;
        }    
@include media-query ($on-small) {
margin-left: -.5%;
        }
    }
& li {
list-style-type: none;
display: inline-block;
width: 30%;
=======
& li {
list-style-type: none;
display: inline-block;
width: 28.6%;
>>>>>>> portfolio page redesign & content updates
position: relative;
margin-left: 1.5%;
margin-bottom: 1.5%;
float: left;
height: auto;
display: inline-block;
overflow: hidden;
<<<<<<< HEAD
// @include media-query($on-small){
// width: calc(400px - (#{$horizontal-spacing-unit} * 2));
// max-width: 200px;
//         }
=======
>>>>>>> portfolio page redesign & content updates
& a {
border: none;
opacity: 1.0;
& img {
width: 100%;
max-width: 100%;
            }
& div.thumb {
// width: 200px;
// height: 200px;
// background-image: url(http://placehold.it/200x200);
            }
        }
    }
}






/** 
 * Portfolio pages **********************************************************
*/
.blankbox{
//background: $theme-color;
/* GRADIENT */
background: #dc0095;
background: -moz-linear-gradient(-45deg,  #dc0095 0%, #dc0095 50%, #1976d2 50%, #1976d2 100%);
background: -webkit-linear-gradient(-45deg,  #dc0095 0%,#dc0095 50%,#1976d2 50%,#1976d2 100%);
background: linear-gradient(135deg,  #dc0095 0%,#dc0095 50%,#1976d2 50%,#1976d2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0095', endColorstr='#1976d2',GradientType=1 );
/* /GRADIENT */
}
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
& img.one, img.two {
@include media-query ($on-palm) {
width: 100%;
height: auto;
        }
    }
@include media-query ($on-palm) {
overflow: visible;
display: block;
    }
}
.icon_row{
height: $icon_height;
width: 100%;
//overflow: hidden;
box-sizing: border-box;
padding: $icon_spacing;
display: inline;
& .icon_container {
display: inline-block !important;
text-align: center;
vertical-align: top;
width: 19%;
padding-bottom: 1em;
@include media-query ($on-small) {
width: 50% !important;
margin-left: 20vw;
        } 
& p {
display: block;
        }
    }
& .icon {
width: 100%;
height: 100%;
    }
@include media-query ($on-small) {
height: 100%;
    }
}
.icon {
width: 20%;
}
.col{ 
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
width: 100%;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}
