// nav

ul#header-nav {
	color: $fuchsia;
	padding-top: 5vh;
	padding-bottom: 4.5vh;
	padding-left: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.33rem;
	font-weight: 300;
	letter-spacing: .066rem;
	list-style: none;
	//margin-left: 0.75rem;

	& a {
		color: $fuchsia;
		text-decoration: none;
	}

	& a:hover {
		font-weight: 400;
	}

	& li.sk {
		line-height: 2rem;
		font-family: 'Lora', serif;
		font-size: 2rem;
		line-height: 2.25rem;
		color: $text !important;

		& a {
			color: $text !important;

			&:hover {
				//font-weight: 300 !important;
				color: $ltBlue !important;
			}
		}
	}
}

li.is-active { // this isn't working in the footer. copied code to footer - still not working. No idea why. Something about nesting things with sass?
	font-weight: 400;
}