// page (mostly just the resume page for now)

.resume {

	& ul {
		margin-left: 30px;
		list-style-type: none;
	
		& li:before {
			content: '//'; //'\2014';
			position: absolute;
			margin-left: -20px;
			padding-top: 14.33px;
			font-size: 1.5rem;
		}

		& li p {
			margin-right: 5px;
			margin-left: -.00em;

			& em {
				display: inline-block;
			}
		}
	}

	& h1 {
		font-family: 'Podkova', serif;
		color: $ltBlue;
		font-size: 1.75rem;
		letter-spacing: .15rem;
		padding: 1.75rem 0;
		font-weight: 400;
	}

	& p {
		font-family: 'Source Sans Pro', sans-serif;
		color: $text;
		font-size: 1.33rem;
		letter-spacing: 1px;
		margin-left: 20px;
		font-weight: 300;
		padding: 10px 0;
		line-height: 2.066rem;
	}

	& strong {
		font-weight: 400;
		display: inline-block;
	}

	& em {
		display: inline-block;
	}
}

@media (min-width: 420px) {

	.resume {
		& ul {
			& li p {
				margin-right: 10px;
			}
		}
	}

}

@media (min-width: $breakpoint-phone) {
	
	.resume {
		& ul {
			& li p {
				margin-right: 20px;
			}
		}
	}
}
