---
layout: homePage
---
<div class="home">
  
  {{ content }}

  <p class="home-text">
    <span class="hi">Hello,<br></span>
    My name is <!-- <span class="about"><a href="" class="name">Scott Kilts</a></span> --><input type="text" value="Scott">.<span id="about"><img src="/scottkilts/assets/scottKiltsPortrait.jpg" alt="Scott Kilts Photo" class="skphoto"></span><br>
    <br>
    I'm a <input type="text" value="designer" class="designer"><span id="designer"> <span class="brackets">{</span>excited about the space between human and computer interaction<span class="brackets">}</span></span> and an <input type="text" value="illustrator" class="artist"><span id="artist"> <span class="brackets">{</span>who loves lettering, watercolor and ink drawings<span class="brackets">}</span></span>.<br>
    <br>
    I love building <input type="text" value="effective websites" class="build"><span id="build"> <span class="brackets">{</span>using information architecture,  user experience design strategies<span class="brackets">}</span></span> & communication through design.<br>
    <br>
    <!--I'm very passionate about the space between human and computer interaction.<br>
    <br>-->
    <!--Check out some of my <!-- <input type="text" value="work" class="work"><span id="work">  - - > work on <a href="">Behance</a> and <a href="https://github.com/sjkilts" target="_blank">GitHub</a></span>, or take a peek at my <a class="art" type="text" href="">art</a>.<br>
    <br>
    <span> -->
    I'd love to <!-- <script src="/assets/js/contact.js"></script> --><input class="contact" type="text" value="chat"><!-- onclick="message()"--><span id="contact">, email me! <a href="mailto:hello@scottkilts.com">hello@scottkilts.com</a></span>.<!-- <div id="contact-window">
        <div class="container">
          <form class="contact-form" action="">
            <input class="gutter" type="text" placeholder="Name">
            <input type="text" placeholder="Company">
            <input class="gutter" type="text" placeholder="Phone">
            <input type="text" placeholder="Email">
            <textarea name="" id="" placeholder="Message"></textarea>
            <input type="submit" value="Send">
          </form>
        </div>
      </div> -->
    </span><br>
    <br>
  <p class="home-text">Have a great day!<br>
    <br>
    - Scott Kilts
  </p>

</div>
